---
layout: default
---

<!doctype html>
<html>
  <head>
      <ul class="sidebar-nav">
            <strong>Navigation</strong>
            <li><a href="/">Home</a></li>
            {% for i in site.urls %}
              <li><a class="about" href="{{ i.url }}">{{ i.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- end /.fixed-condition -->
      </div>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div markdown="1">
    {% include_relative readme.md %}
        </div markdown>
    <h1>Latest Post</h1>
{% for post in site.posts limit:1 %}
{% endfor %}
<h1>Recent Posts</h1>
{% for post in site.posts offset:1 limit:2 %}
{% endfor %}
  </body>
</html>
