---
---

@import "colors";

body {
  @include color-assign(background-color, background);
  @include color-assign(color, primary-500);
  
  a {
    @include color-assign(color, accent-500);
    
    &:hover {
      @include color-assign(color, accent-600);
    }
  }
  
  small {
    @include color-assign(color, primary-400);
  }
  
  div {
    width: 300px;
    
    @include color-assign(border, primary-600, '1px solid here');
    
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: start;
  }
}
